@-moz-document url-prefix("http://4pda.ru/forum/") {
.borderwrap-header td[width="80%"], .catend, #dw-top, #ipb_link_ad {
	display: none !important;
}
body {
	background-image: url("/*[[back]]*/") !important;
	background-color: #111 !important;
	background-attachment: fixed !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: center center !important;
	/*[[repeating]]*/
}

#logostrip, #header, #navbar, #replace_navbar, #list_wrapper, #footer, .menupopup .menu .item, .post2, .bg3, .activeusers, .plainborder, .tablefill, .tablepad, .borderwrap p, .popmenubutton-new, .popmenubutton, .hidemain, .post-edit-reason, #dw-wrapper, #dw-top, #dw-bottom, .pp-image-thumb-wrap, .pp-image-thumb-wrap-floatright, .pp-image-mini-wrap, .pp-image-mini-wrap-floatright, .resized-linked-image, .darkrow3, .postcolor, .attach-menubutton, .list_item:hover,  #welcome, .errorwrap, #redirectwrap, .attach-messagediv, .exdiv, #ucpmenu, #ucpcontent, .borderwrap, .borderwrapm, .formtable td, .pformleft, .pformleftw, .pformright, .qms_unread_row, .ed-wrap .ed-p-textarea, .bb-panel-button:hover, .check_list_div, .fieldwrap, .post-block > .block-body, .header, .sidebar {
	background: none !important;
}
/* text */
body, .user_home a, #navstrip, .formsubtitle, .input-warn, .input-green, .input-checkbox, input, textarea, select, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .forumdesc, .forumdesc a:link, .forumdesc a:visited, .forumdesc a:active, table.ipbtable, tr.ipbtable, td.ipbtable, .usercp_menu, .usercp_menu_out, .popmenubutton-new, .pp-header, .pp-tiny-text, .popupmenu-item-last, .pp-taboff, .pp-tabshaded, .desc, h4, h3, .darkrow1, .lastaction, .pp-datebox em, .quotetop, .quotemain, .ipbtable td, .hidetop, .hidemain, .popupmenu-category, .post-edit-reason, .codemain, .sqlmain, .htmlmain, .codetop, .sqltop, .htmltop,  span[style$="color:#000000"], span[style="color:black"], .resized-linked-image, #loading-layer-inner, form, .ed-wrap .ed-panel-title, .darkrow3, #thread_content .out_message .msg, .navbar-title, .navbar-title > strong, .newslink, .newslink td, .smalltext, .attach-messagediv, .pa_text h2, .foruminfo .foruminfo_news, .foruminfo_news:hover, span[style="font-weight:bold;color:#222222;"], .post-block > .block-title, .post-block > .block-body {
	color: white !important;
}
#submenu a, .navbar-title > strong, .navbar-title, #thread_content .out_message .msg, .smalltext {
	text-shadow: 1px 1px 1px black;
}
#events_wrapper {
	background-color: black !important;
}
.codemain, .sqlmain, .htmlmain {
    font-family: Consolas,"Courier New",Verdana,Arial !important;
}
/* text colors replace */
span[style="color:blue"], span[style="color:#0000ff"],  span[style="color:darkblue"], span[style="color:royalblue"], span[style="color:indigo"], span[style="color:#000080"], .newslink span, span[style="color:#000099"] {
	color: #4479ff !important;
}
.signature {
	color: #AAA !important;
}
span[style="color:red"], span[style="color:#FF0000"], span[style="color:darkred"], span[style="color:crimson"], .errorwrap p {
	color: #ff6666 !important;
}
span[style="color:purple"] {
	color: #cc99ff !important;
}
span[style="color:teal"] {
	color: #33cccc !important;
}
span[style="color:green"] {
	color: #66cc66 !important;
}
span[style="color:#290063"] {
	color: #9042ff !important;
}
.searchlite {
	background-color: #e8eb89 !important;
}
/* links */
a:link, a:visited, a:active {
	color: /*[[linkcolor]]*/ !important;
}

/* blocks */
.borderwrap, #userlinks, #userlinksguest, .copyright, #gfooter, .moddiv, #dw-body, .curdiv, #loading-layer-inner, .newslink, #ipbcontent, .ipbpagespan, .ipbnav, .ipbnavsmall, #ipbwrapper > .ipbtable, .message_item.in_message {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
	border: none !important;
	box-shadow: 0 0 4px white;
	padding: 10px !important;
	border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-khtml-border-radius: 10px !important;
}
.formtable td.formtitle, .formsubtitle, .row2, .pagelink, .pagelinklast, .pagecurrent, .minipagelink, .minipagelinklast, .pp-contentbox-back, .pp-contentbox-entry, .pp-contentbox-entry-noheight, .pp-contentbox-entry-noheight-mod, .pp-contentbox-entry-noheight-sel, .popupmenu-new, .pp-mini-content-entry, .pp-mini-content-entry-noheight, .pp-mini-entry-noheight-shaded, .post1, .bg1, .toplinks span, .pp-datebox, .popmenubutton-new, .globalmesswrap, .list_item, body[style="background:transparent;"], .globalmesswarnwrap, .list-group .list-group-item:hover, .list-group .list-group-item:active, .nav4pda, .form-bg, .form-toggle-visible .form-toggle-btn {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4) !important;
}
.row1, .popupmenu-new, .usercp_menu, .form, .list_item:hover, .menupopup .menu, .upopupmenu-new, td.formbuttonrow, .pformstrip, .borderwrap p.formbuttonrow, .borderwrap p.formbuttonrow1, .bar, .barb, .barc, .popupmenu, .attach-popupmenu, .attach-menu-row-over, .qms_unread_row, .list_item.active, #events-wrapper, .list-group .list-group-item, .navbar {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
}
.codemain, .sqlmain, .htmlmain, .searchinput, textarea, .ed-wrap .ed-bbcode-hover, #_fskit, #ipb-file-upload-box, input, #events-list > a:hover { /* white */
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1) !important;
}
.row2shaded, .post1shaded { /* green cell. what's that? */
	background: none repeat scroll 0 0 rgba(0, 154, 61, 0.3) !important;
}
.row4shaded2, .post1shaded2, .post2shaded2 { /* red cell. what's that? */
	background: none repeat scroll 0 0 rgba(255, 200, 200, 0.3) !important;
}
.input-warn, .input-green, .input-checkbox, textarea.textarea, select, .popmenubutton-new, .quotemain {
	background-color: #454545 !important;
}
table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitle, .maintitlecollapse, .globalmesswrap, #ucpmenu, #ucpcontent, .borderwrap, .borderwrapm {
	border: none !important;
}
#ipd-msg-inner {
	background-color: #EEEEEE !important;
}
#events_wrapper {
	border: solid 2px #00FF00 !important;
}
.foruminfo .grad0, .foruminfo .grad1 {
	background: linear-gradient(135deg, #000 0%, #444 100%) repeat scroll 0 0 transparent !important;
}
.ed-wrap .ed-vtoggle-normal, .ed-wrap .ed-vtoggle-hover, .ed-wrap .ed-vtoggle-down, #thread_content .thread_timeline .timeline, .textarea-bb-panel, .thread-list .date .text {
	background: #333 !important;
}
/* headers */
.pp-tabon, .hidetop, .ed-wrap .ed-panel, .posttopbar, .maintitle, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitlecollapse, .pp-title, .pp-header, .pp-tabclear, .btn, .btn:hover, .upopupmenu-category, h4, h3, .popupmenu-category, .codetop, .sqltop, .htmltop, .button, input[type="button"], .input-ok-content, button, .post-block > .block-title {
	background: -moz-linear-gradient(top, #444444 0%, #222222 52%, #222222 99%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(52%,#222222), color-stop(99%,#222222))  !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444444 0%,#222222 52%,#222222 99%)  !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 0%,#222222 52%,#222222 99%)  !important; /* Opera 11.10+ */
}
.pp-taboff, .darkrow1, .quotetop, .footer {
	background: -moz-linear-gradient(top, #555555 0%, #333333 52%, #333333 99%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(52%,#333333), color-stop(99%,#333333))  !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555555 0%,#333333 52%,#333333 99%)  !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555555 0%,#333333 52%,#333333 99%)  !important; /* Opera 11.10+ */
}
.maintitle, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitlecollapse, .pp-title, .pp-header, .pp-tabclear, .btn, .btn:hover, .upopupmenu-category, h4, h3, .popupmenu-category, .codetop, .sqltop, .htmltop, .button, input[type="button"], .input-ok-content {
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-khtml-border-radius: 5px !important;
}
.maintitle, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitlecollapse, .pp-title, .pp-header, .pp-tabclear, .btn, .btn:hover, .upopupmenu-category, h4, h3, .popupmenu-category, .codetop, .sqltop, .htmltop {
	padding-left: 10px !important;
}
/* other */
#userlinks p, #userlinksguest p {
	font-size: 12px !important;
}
.hidemain {
	 border-color: -moz-use-text-color white white #8394B2 !important;
}
.exdiv {
	 border-color: white !important;
}
.textarea-bb-panel:after {
	border-color: #333 transparent !important;
}
button {
	border-color: #555 !important;
}
.barc, .usercp_menu_out {
	border-color: transparent !important;
}
.list-group .list-group-item .bage, .list-group .list-group-item .icon-close { /* QMS date of dialog */
	background: linear-gradient(to right, rgba(32, 32, 32, 0) 0%, #333 20%, #333 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
/* fix for qms */
#thread_content .msg {
	padding: 0 !important; 
}
.message_item {
	margin-top: 1em !important;
}
path[fill="#f5f6f7"],
circle[fill="#f5f6f7"]{
fill: rgba(0, 0, 0, 0.22) !important;
}
			/********* IMAGES *********/
img[alt="Ответить"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/t_reply.png') !important;
	height: 27px !important;
	padding-right: 89px !important;
	width: 0 !important;
}
img[src$="pip.gif"] { /* .postdetails img[alt="*"], .row1 img[alt="*"] {*/
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/pip.png') !important;
	height: 10px !important;
	padding-right: 11px !important;
	width: 0 !important;
}
.formbuttonrow img[alt="^"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/p_up.png') !important;
	height: 21px !important;
	padding-right: 24px !important;
	width: 0 !important;
}
.formbuttonrow img[alt="Жалоба"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/p_report.png') !important;
	height: 21px !important;
	padding-right: 72px !important;
	width: 0 !important;
}
.formbuttonrow img[alt="Вставить ник"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/insert_nick.png') !important;
	height: 21px !important;
	padding-right: 52px !important;
	width: 0 !important;
}
.formbuttonrow img[alt="Цитировать"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/insert_quote.png') !important;
	height: 21px !important;
	padding-right: 92px !important;
	width: 0 !important;
}
.postdetails img[alt="-"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/r_minus.png') !important;
	height: 10px !important;
	padding-right: 10px !important;
	width: 0 !important;
}
.formbuttonrow img[alt="-"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/bad.png') !important;
	height: 20px !important;
	padding-right: 20px !important;
	width: 0 !important;
}
.formbuttonrow img[alt="+"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/good.png') !important;
	height: 20px !important;
	padding-right: 20px !important;
	width: 0 !important;
}
.postdetails img[alt="+"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/r_add.png') !important;
	height: 10px !important;
	padding-right: 10px !important;
	width: 0 !important;
}
.postdetails img[style="padding-bottom:2px"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/to_post_off.png') !important;
	height: 7px !important;
	padding-right: 8px !important;
	width: 0 !important;	
}
#loading-layer-inner img, img[src$="attach_wait.gif"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/loading_anim.gif') !important;
	height: 24px !important;
	padding-right: 24px !important;
	width: 0 !important;
}
img[alt="Быстрый ответ"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/t_qr.png') !important;
	height: 27px !important;
	padding-right: 120px !important;
	width: 0 !important;
}
img[alt="Новая тема"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/t_new.png') !important;
	height: 27px !important;
	padding-right: 117px !important;
	width: 0 !important;
}
#ipb-tl-search_menu .button, .newslink .button {
	background-image: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/login-button.png') !important;
	background-repeat: no-repeat !important;
	height: 18px !important;
	padding-right: 30px !important;
	width: 0 !important;
}
img[alt="Редактировать"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/p_edit.gif') !important;
	height: 21px !important;
	padding-right: 89px !important;
	width: 0 !important;
}
img[alt="Удалить"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/p_delete.gif') !important;
	height: 21px !important;
	padding-right: 80px !important;
	width: 0 !important;
}
img[src$="t_closed.gif"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/t_closed.png') !important;
	height: 27px !important;
	padding-right: 98px !important;
	width: 0 !important;
}
#ucpmenu img {
	height: 7px !important;
	padding-right: 7px !important;
	width: 0 !important;
	background-image: url('data:image/gif;base64,R0lGODlhCAAIAIAAAP///wAAACH5BAEAAAEALAAAAAAIAAgAAAIMjI+JoAGcHjxPzWYKADs=') !important;
}
img[alt="@"] {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/attachicon.gif') !important;
	height: 10px !important;
	padding-right: 8px !important;
	width: 0 !important;
}
/*#logostrip img {
	background: url('http://raw.github.com/Pmmlabs/4PDAForum-NightGlass/master/images/4pda_logo_Kilowatt.png') !important;
	height: 98px !important;
	padding-right: 300px !important;
	width: 0 !important;
}*/
}